@font-face {
  font-family: "Entangled";
  src: url(CqMono-mBXa.ttf);
}

* {
  font-family: "Entangled";
  color: var(--text-color);
}

input[type="file"] {
  display: none;
}

svg {
  fill: var(--text-color);
  color: var(--text-color);
}

:root {
  font-family: "Entangled";
  line-height: 1;
  font-weight: 300;

  color-scheme: light;
  color: black;

  --text-color: black;

  background-color: hsl(0, 0%, 97%);

  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --foreground: hsl(0, 0%, 97%);
  --foreground-hover: hsl(180, 0%, 93%);

  --aside-width: 10rem;

  --shadow: 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.05);
  --shadow-medium: 0px 1px 1px rgba(0, 0, 0, 0.1);

  --border-radius-medium: 0.333rem;

  --base: rgba(0, 0, 0, 0.366);
  --base-light: rgba(0, 0, 0, 0.175);

  --padding: 0.5rem;
  --padding-medium: 0.25rem;
}

.dark-mode {
  color-scheme: dark;
  color: white;

  --text-color: white;

  background-color: hsl(180, 0%, 5%);

  --foreground: hsl(180, 0%, 5%);
  --foreground-hover: hsl(180, 0%, 10%);

  --base: rgba(255, 255, 255, 0.06);
  --base-light: rgba(255, 255, 255, 0.0365);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.messages-bottom {
  margin: 0;
  width: 100%;
  height: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--base-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input,
textarea {
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--base-light);
  outline: none;
  padding: var(--padding-medium);
  box-sizing: border-box;
  background: none;
  box-shadow: var(--shadow-medium);
}
input:focus,
textarea:focus {
  border: 1px solid transparent;
  outline: 2px solid var(--base);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--padding-medium) var(--padding);
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--foreground);
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--base-light);
  box-shadow: var(--shadow-medium);
  font-weight: 600;
}
button:hover {
  background: var(--foreground-hover);
}

code {
  background-color: #1a1a1a;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-height: 100vh;
}

.input-label {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: var(--padding-medium);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1px);
  filter: opacity(0.8);
  z-index: 99;
}
.modal-container {
  display: flex;
  place-items: center;
  place-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
  border: 2px solid var(--base-light);
  background: var(--foreground);
  padding: var(--padding);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow);
  max-width: min(calc(100% - var(--padding) * 4), 15rem);
  position: relative;
}
.modal-close-button {
  position: absolute;
  background: red;
  top: 2px;
  right: 2px;
  width: 1rem;
  height: 1rem;
  z-index: 99;
  padding: 0;
  border: 2px solid var(--text-color);
  filter: opacity(0.5);
  display: flex;
  transition: filter 100ms ease;
}
.modal-close-button svg {
  width: 100%;
  height: 100%;
}
.modal-close-button:hover {
  filter: opacity(1);
}

.anim-spin {
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
